   {%extends 'app/SemaforoCaloriasConJSVanilla.html%}
   {% block contenido%}



    <div class ="container margin2">
        <div class="row">
          <div class="col-12 col-md-6 offset-md-3">
            <h2>agregar un nuevo ingrediente</h2>
            <div class="card margin2">
              <div class="card-body">
                <form action="/registrarproducto/" method="post">{% csrf_token %}
                  <div class="form-group margin2">
                    <input type="text" id="txtnombre" name="txtnombre" class="form-control" placeholder="Nombre del producto" maxlength="40" required> 
                  </div>
                  <div class="form-group">
                    <input type="text" id="txtcalorias" name="txtcalorias" class="form-control" placeholder="cantidad de calorias" maxlength="15" required> 
                  </div>
                  <div class="form-group">
                    <input type="text" id="txtcolor" name="txtcolor" class="form-control" placeholder="color" maxlength="15" required> 
                  </div>
                  <div class="form-group d-grid gap-2 col-6 mx-auto">
                  <button type="submit" class="btn btn-primary ">Guardar</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>


    {%endblock%}